<!DOCTYPE html>
%html
  %head
    %title Holyfire Ministries
    = stylesheet_link_tag    "kendrick-application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %wrapper
      %main
        %header
          = image_tag("kendrick-background-text.png")
        %content
          = yield
        %footer
